/* body {
  overflow: hidden;
}

.LandingPage {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 200px) ifr;
  grid-column-gap: 10px;
  /* grid-template-rows: ; */
  /* flex-wrap: wrap;
  align-content: space-around;
  height: 70%;
  padding-bottom: 15px; */

/* } */

/* .Separator { */
  
  /* padding-bottom: 30px; */
  /* grid-column: 2;
  display: grid;
  grid-template-rows: 160px auto;
  width: 400px;
  height: 520px;
  margin: 25px;
  padding: 20px;


}


.BotDesign{
  
    position: fixed;
    bottom: 20px;
    top: initial;
    right: 32px;
    left: initial;
    width: 450px;
    height: 700px;
    z-index: 999;
    

} */
/* .LandingPageHeading{ */
  /* width: 350px;
  height: 700px; */
  /* position: fixed;
  bottom: 32px;
  top: initial;
  left: 50px;
  right: initial;
  width: 500px;
  height: 700px;
  z-index: 999; */
  /* flex-grow: 1;  */
/* }
.LandingPage-header {
  background-color: #282c34;
  min-height: 70vh;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  

}

.BotImage {
  width: 100%;
  height: 100%;

}

.LandingPage a {
  color: #61dafb;
}


.speech-bubble-recruiter {
	position: relative;
	background: white;
  border-radius: 250px;
  width: 160%;
  height: 160%;
  
}

.speech-bubble2 {
	position: relative;
	background: white;
  border-radius: 250px;
  width: 120%;
  height: 80%;
}

.speech-bubble3 {
	position: relative;
	background: white;
  border-radius: 205px;
  width: 120%;
  height: 80%;

}

.speech-bubble-recruiter:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 25%;
  border: 25px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -100px;
	margin-bottom: -80px;
  
} */ 

.myNavLinkCommon{
  color: #410074  !important;
  font:  30px Avenir sans-serif;
  text-decoration-line: none;
  text-align: center;
  border-radius: 20px 20px 20px 0;
  background-color: white;



  
}
/* 
.myNavLinkUser{
  color: #410074  !important;
  font:  40px Avenir sans-serif;
  text-decoration-line: none;
  text-align: center;
  border-radius: 20px 20px 20px 0;
  background-color: white;
} */

.myNavLinkRecruiter{
  color: #410074  !important;
  font:  30px Avenir sans-serif;
  text-decoration-line: none;
  text-align: center;
  border-radius: 45px 45px 45px 0;
  background-color: white;
}